BusServicesClient/BusServicesClient/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Passenger">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JourneyDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Passenger" nillable="true" type="tns:Passenger" />
</xs:schema>